<h1>Top#about</h1>
<h1>MOKUってなに？</h1>
<p>もくもく会　MOKUMOKU会 MOKU</p>

<h2>MOKUでできること</h2>
<ul>
  <li>
    カレンダーで作業できた日が一目でわかる
  </li>
  <li>
    作業した時間も記録できる
  </li>
</ul>

<p>MOKU JUST NOWを出す<p>
<p>ユーザー登録<p>
<p><%= link_to("TOPへ戻る", "/")%></p>