<h1>mokus#check_delete</h1>

<h2>MOKUを削除するときはご注意ください</h2>
<ul>
  <li>MOKUを削除すると、このMOKUの【成果物】も全て消えてしまいます。</li>
  <li>Book Markされていた成果物の場合、Book Markからも消えてしまいます。</li>
  <li>一度削除すると、復活することはできません。</li>
</ul>

<h3>このMOKUの成果物一覧</h3>
<% if @works.any? %>
  <% @works.each do |work| %>
    <p>成果物のタイトル：<%= link_to("#{work.title}", "/users/#{work.user_id}/work/#{work.id}") %></p>
  <% end %>
<% else %>
  <h3>このMOKUには成果物の登録がありませんでした。</h3>
<% end %>

<h3>本当にこのMOKUを削除してよろしいければ、削除ボタンをクリックしてください。</h3>

<%= form_with(model: @moku,
              url: {controller: :mokus, action: :delete, user_id: current_user.id, moku_id:@moku.id},
              method: :patch,
              local: true) do |f| %>

<%= f.submit "MOKUを削除する" %>

<% end %>