<h1>Mokus#index</h1>
<h1><%= "#{@user.name}さんのMOKUった一覧"%></h1>

  <% @mokus.each do |moku| %>
    <ul>
      <li>
        <p><%= link_to("#{moku.created_at} の MOKU", user_moku_path(moku.user_id, moku.id)) %>
        <%= link_to("【成果物の登録】", new_user_work_path(moku.user_id) )%></p>
      </li>
    </ul>
  <% end %>

  <%= link_to("TOPへ戻る", users_path)%>
