<h1>Users#edit</h1>

<h4>ニックネーム<input></h4>
<h4>プロフ画像<input type="file"></h4>
<h4>メアド<input></h4>
<h4>PW<input type="password"></h4>
<h4>MOKUアイテム</h4>
<textarea>例：PC：MacBook Pro, 使用ソフト：VS Cood, 言語：Ruby、Ruby on Rails、他：ドットインストール</textarea>
<h4>自己紹介</h4>
<textarea></textarea>
<h4>公開表/非公開</h4>
<ul>
  <li>
    <b>アカウント</b><%= select_tag(:release_id, options_for_select([['公開', 1], ['非公開', 2]], 2)) %>
    <h3>☁︎公開にすると</h3>
      <p>
        アカウントを公開にすると、他のユーザーに対して以下の項目が公開されます。<br>
          <b>・ニックネーム</b><br>
          あなたのニックネームが公開されます。<br>
          <b>・プロフィール画像</b><br>
          あなたのプロフィール画像が公開されます。<br>
          <b>・カレンダー</b><br>
          カレンダーと、カレンダーに表示されているドットの色・数が公開となります。<br>
          また、カレンダーのドットから各MOKUの詳細閲覧ページに遷移する事ができるため、<br>
          MOKUの詳細も公開されます。<br>
          <b>・成果物と、成果物にもらったスタンプの数</b><br>
          成果物は、成果物毎に公開 / 非公開を設定することができます。
      </p>
    <h3>☁︎非公開にすると</h3>
      <p>
        アカウントを非公開にすると、他のユーザーに対して全ての情報が非表示になります。<br>
        ・全てとは、ニックネームやプロフィール画像も含まれます。<br>
        ・【PICK UP MOKU】に取り上げられることもありません。<br>
        ・【MOKU JUST NOW】に取り上げられることもありません。<br>
        ・非公開でも、【PICK UP MOKU】 や 【MOKU JUST NOW】で見つけた他のユーザーにスタンプを送ることはできます。<br>
        ・その場合のニックネームは「匿名さん」、プロフィール画像はデフォルト画像が送られます。(memo:デフォ画のサンプルあった方がいいかな)<br>
        ・他のユーザーからスタンプをもらうには、現時点では【PICK UP MOKU】 や 【MOKU JUST NOW】であなたのことを見つけてもらうしかないため、
        非公開にすると、新しくスタンプをもらうことができなくなります。
        ・成果物も非公開一択となり、公開することはできません。(memo:悪意のある成果物公開を防ぐため)
      </p>
  </li>
</ul>
