<h1>Work#edit</h1>

<h3>成果物のタイトル：<input></h3>
<h3>画像　<input type="file"></h3>
<h3>テキストファイル　<input type="file"></h3>
<h3>コメント</h3>
<textarea></textarea>
<h4>他ユーザーへの公開設定：<%= select_tag(:release_id, options_for_select([['公開', 1], ['非公開', 2]], 2)) %></h4>
<h4>Pick Up MOKUへの公開設定：<%= select_tag(:release_id, options_for_select([['公開', 1], ['非公開', 2]], 2)) %></h4>
<p><%= link_to("【更新】") %>
