<h1>Moku_type#edit</h1>

<h1><%= "【MOKUタグ:#{@moku_type.name}】の内容を編集する" %></h1>
<h4>MOKUタグのなまえ：<input value="<%= "#{@moku_type.name}"%>" ></h4>

<p>紐付けについてはちょっと考えてから</p>

<p><%= link_to("マイページへ戻る", "/mypage")%></p>